.app_container {
    display: flex;
    .sidebar_container{
        width: 100px;
        background-color: var(--secondary);
    }
    .router_container{
        background-color: var(--primary);
        width: 100%;
    }
}