.app_container {
    display: flex;
    .sidebar_container{
        width: 8%;
        background-color: var(--secondary);
    }
    .router_container{
        width: 92%;
        background-color: var(--primary);
    }
}