.app_container {
    display: flex;

    .sidebar_container {
        width: 100px;
        background-color: var(--secondary);

        @media screen and (max-width: 425px) {
            position: fixed;
            bottom: 0;
            width: 100%;
            z-index: 1;
        }
    }

    .router_container {
        background-color: var(--primary);
        width: 100%;
    }
}