<div class="main_container">
    <div class="search_container">
        <div class="title">
            <p>{{ 'MAIN-PAGE.TITLE' | translate}}</p>
        </div>
        <div class="search_bar">
            <input type="text" class="searchFilm" placeholder="{{ 'MAIN-PAGE.SEARCH-BAR.PLACEHOLDER' | translate}}">
            <button class="searchButton" matSuffix mat-button><mat-icon >search</mat-icon></button>    
        </div>
    </div>
    <div class="movies_container">
        <div class="cards_container">
            <app-movie-card></app-movie-card>
        </div>
    </div>
</div>