.sidebar_container {
    display: flex;
    flex-direction: column;
    button{
        margin: 8px;
        padding: 8px;
        background: var(--tertiary);
        border-radius: 8px;
        cursor: pointer;
        &.active {
            background-color: #f44336;
        }
    }
}

@media screen and (max-width: 425px) {
    .sidebar_container {
        flex-direction: row;
        button {
            flex-grow: 1;
        }
    }
}