
:root {
    --primary: #112640;
    --secondary: #224C80;
    --tertiary: #3472BF;
    --quaternary: #4699FF;
  }

html, body { height: 100%; display: flex; flex-direction: column; width: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
