.card_container {
    padding: 16px;
}

.mat-card {
    border: 1px solid var(--secondary);
    border-radius: 8px;
    background: var(--quaternary);
    width: 261px;
    max-height: 552px;

    .mat-card-image {
        min-height: 439px;
    }

    .mat-card-header {
        display: flex;
        height: 48px;
        align-items: center;
        justify-content: space-between;
    }



    .mat-card-title {
        font-size: 16px;
    }

    .mat-icon {

        border-radius: 16px;
            margin: 8px;
            cursor: pointer;
            border: 1px solid black;
        
            &.favorite {
                background: goldenrod;
                color: yellow;
            }
        
            &:hover {
                background-color: yellow;
                color: black;
            }
        
    }
}

.mat-card-content {
    .title {
        label:nth-of-type(1) {
            color: black;
            font-weight: bold;
        }

        label:nth-of-type(2) {
            color: white;
            padding-left: 8px;
        }
    }

    .launchDate {
        label:nth-of-type(1) {
            color: black;
            font-weight: bold;
        }

        label:nth-of-type(2) {
            color: white;
            padding-left: 8px;
        }
    }
}

@media screen and (max-width: 425px) {
    :host {
        width: 100%;
    }
    .mat-card {
        width: unset;
        min-height: 608px;

        .mat-card-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .mat-card-header-text {
            padding: 0px;
        }

        .mat-card-title {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 375px) {
    .mat-card {
        width: unset;
        min-height: 540px;
    }
}

@media screen and (max-width: 320px) {
    .mat-card {
        width: unset;
        min-height: 580px;
    }
}