.card_container {
    padding: 16px;
}

.mat-card {
    border: 1px solid var(--secondary);
    border-radius: 8px;
    background: var(--quaternary);
    width: 261px;
    max-height: 552px;

    .mat-card-image {
        min-height: 439px;
    }

    .mat-card-header {
        display: flex;
        height: 48px;
        align-items: center;
        justify-content: space-between;

        ::ng-deep .mat-card-header-text {
            width: 70%;
        }
    }



    .mat-card-title {
        font-size: 16px;
    }

    .mat-icon {
        background: goldenrod;
        color: yellow;
        border-radius: 16px;
        margin: 8px;
        cursor: pointer;

        &:hover {
            background-color: yellow;
            color: black;
        }
    }
}

.mat-card-content {
    .title {
        label:nth-of-type(1) {
            color: black;
            font-weight: bold;
        }

        label:nth-of-type(2) {
            color: blue;
        }
    }

    .launchDate {
        label:nth-of-type(1) {
            color: black;
            font-weight: bold;
        }

        label:nth-of-type(2) {
            color: blue;
        }
    }
}

@media screen and (max-width: 425px) {
    .mat-card {
        width: 172px;
        max-height: none;

        .mat-card-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .mat-card-header-text {
            padding: 0px;
        }

        .mat-card-title {
            font-size: 16px;
        }

        .mat-card-image {
            width: 205px;
        }
    }
}